@import "tailwindcss";

:root {
  --background: #FAF9F6FF;
  --foreground: #0B1215FF;
  
  --boxBg: #f3f3f3;
  --activeBg: #292929;
  --text: #000;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  --small-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --large-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

[data-theme="dark"] {
  --boxBg: #1f1e1d;
  --activeBg: #292929;
  --text: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}


.fluid-xxxl {
  font-size: calc(50px + 23 * ((100vw - 320px) / 680));
  line-height: calc(55px + 35 * ((100vw - 320px) / 680));
}

.fluid-xxl {
  font-size: calc(20px + 5 * ((100vw - 320px) / 680)); /* 25px max */
  line-height: calc(28px + 7 * ((100vw - 320px) / 680));
}

.fluid-xl {
  font-size: calc(15px + 5 * ((100vw - 320px) / 680)); /* ~20px max */
  line-height: calc(24px + 4 * ((100vw - 320px) / 680));
}

.fluid-l {
  font-size: calc(13px + 3 * ((100vw - 320px) / 680)); /* ~16px max */
  line-height: calc(20px + 3 * ((100vw - 320px) / 680));
}

.fluid-m {
  font-size: calc(12px + 2 * ((100vw - 320px) / 680)); /* ~14px max */
  line-height: calc(18px + 2 * ((100vw - 320px) / 680));
}


.fluid-s {
  font-size: calc(10px + 1 * ((100vw - 320px) / 680)); /* 11px max */
  line-height: calc(14px + 1 * ((100vw - 320px) / 680));
}

.bg-gradient-hero {
  background: radial-gradient(85.01% 80.94% at 50% 50%, var(--Color-Palette-Light-White, rgba(250, 249, 246, 0.40)) 0%, var(--Color-Palette-Light-Pearl, rgba(231, 223, 198, 0.40)) 27.03%, rgba(208, 197, 243, 0.40) 59.87%, rgba(157, 134, 239, 0.40) 87.22%, var(--Color-Palette-Light-Majorelle-Blue, rgba(98, 60, 234, 0.40)) 100%), linear-gradient(0deg, var(--Color-Palette-Light-White, #FAF9F6) 0%, #E9F1F7 19.23%, #E7DFC6 44.71%, #E7DFC6 55.29%, #E9F1F7 76.44%, var(--Color-Palette-Light-White, #FAF9F6) 100%), var(--Color-Palette-Light-White, #FAF9F6);
}

.bg-gradient {
  background: var(--Radial-Background, radial-gradient(107.73% 81.57% at 50% 47.31%, var(--Color-Palette-Light-White, rgba(250, 249, 246, 0.40)) 29.81%, var(--Color-Palette-Light-Pearl, rgba(231, 223, 198, 0.40)) 56.25%, rgba(170, 148, 215, 0.40) 80.77%, rgba(141, 113, 222, 0.40) 100%), radial-gradient(156.39% 81.46% at 50% 50%, var(--Color-Palette-Light-White, #FAF9F6) 0%, var(--Color-Palette-Light-Alice-Blue, #E9F1F7) 75%));
}

.btn-base {
  border-radius: 50px;
  box-shadow: var(--large-shadow);
  background: rgba(255,255,255,0.10);
  backdrop-filter: blur(4px);
}

.btn-base-small {
  border-radius: 50px;
  box-shadow: var(--small-shadow);
  background: rgba(255,255,255,0.10);
  backdrop-filter: blur(4px);
}

.container-base {
  border-radius: 30px;
  box-shadow: var(--large-shadow);
  background: rgba(255,255,255,0.10);
  backdrop-filter: blur(4px);
}

/* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
*/